@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Wendy+One');


body {
  background-color: #F2F202;
}

#change-password {
  display: none;
  text-align: center;
}

.create-session-container {
  display: none;
  padding: 15px 30px;
  text-align: center;
}

.delete {
  padding: 5px 10px;
  text-align: left;
}

#endMessage {
  text-align: center;
}

h1 {
  font-family: 'Wendy One', sans-serif;
  padding: 20px 50px;
  text-align: center;
}

h3 {
  font-size: 20px;
  padding: 5px 10px;
  text-align: left;
}

#message {
  text-align: center;
}

p {
  padding: 5px 10px;
  text-align: left;
}

section {
  padding: 15px 30px;
  text-align: center;
}

#sign-up {
  padding: 15px 30px;
  text-align: center;
}

#sign-in {
  padding: 15px 30px;
  text-align: center;
}

.show-session-container {
  display: none;
  text-align: center;
}

.sign-out-container {
  display: none;
  padding: 15px 30px;
  text-align: center;
}

.update {
  padding: 5px 10px;
  text-align: left;
}
