@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Wendy+One');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:700|Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:700|Fredericka+the+Great|Staatliches');



body {
  background-image: url('public/skates.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.background {
  background-color: rgba(0, 0, 0, .3);
}

#change-password {
  display: none;
  text-align: center;
}

.create-session-container {
  display: none;
  padding: 15px 30px;
  text-align: center;
}

.delete {
  display: inline-block;
  padding: 5px 5px;
  text-align: left;
}

#endMessage {
  color: white;
  font-family: 'Staatliches', cursive;
  font-size: 25px;
  text-align: center;
}

h1 {
  color: #B00017;
  font-style: italic;
  font-family: 'Fredericka the Great', cursive;
  font-size: 75px;
  padding: 20px 50px;
  text-align: center;

}

h3 {
  color: #B00017;
  font-family: 'Fredericka the Great', cursive;
  font-size: 55px;
  padding: 5px 10px;
  text-align: left;
  text-decoration: underline;
}

#message {
  color: white;
  font-family: 'Staatliches', cursive;
  font-size: 25px;
  text-align: center;
}

p {
  color: #FACD02;
  font-family: 'Cabin Sketch', cursive;
  font-size: 30px;
  padding: 1px 10px;
  text-align: left;
}

// section {
//   padding: 15px 30px;
//   text-align: center;
// }

#sign-up {
  padding: 15px 30px;
  text-align: center;
}

#sign-in {
  padding: 15px 30px;
  text-align: center;
}

.show-session-container {
  display: none;
  text-align: center;
}

.sign-out-container {
  display: none;
  padding: 15px 30px;
  text-align: center;
}

.update {
  display: inline-block;
  padding: 5px 5px;
  text-align: left;
}
